<div class="card" style="width: 50%;">
  <div class="card-body">
    <h5 class="card-title"><%= item.title %></h5>
    <p class="card-text"><%= item.description %></p>
  </div>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Edit
  </button>
</div>