<div class="container pt-5">
  <div>
    <h5>Chat with
      <%= @other_user.username %></h5>
    <% if @chat.messages.any? %>
      <div id="messages">
        <%= render partial: 'messages/message', collection: @chat.messages.order(id: :asc)%>
      </div>
    <%else%>
      <div id="messages"></div>
    <%end%>
  </div>
  <%= render partial: 'messages/message_form', locals: {message: @message, chat: @chat}%>
</div>
</div>
<script>
createMessageChannel();
// app/assets/javascripts/channels/messages.js
messageForm();
// app/assets/javascripts/messages_form.js
</script>