<div class="container">

  <h1 class="my-4 text-center">Rent a thing</h1>
  <h2 id='counter'> Item Count = <%= @items.length %> </h2>

  <br>
  <div class="row">
    <div class="col-lg-3">
      <%= render "filter" %>
    </div>
    <div class="col-lg-9">
      <% @items.each do |item| %>
        <%= render "items/item_card", item: item %>
      <% end %>
    </div>
  </div>