<div class="container">

  <h1 class="my-4 text-center">Borrow a thing</h1>
  <h2 id='counter'>
    Item Count =
    <%= @items.length %>
  </h2>

  <br>
  <div class="row">
    <div class="col-3">
      <%= render "filter" %>
    </div>
    <div class="col-6">
      <% @items.each do |item| %>
        <%= render "items/item_card", item: item %>
      <% end %>
    </div>
    <div class="col-3">
      <%= render "items/map" %>
    </div>
  </div>
</div>