<div class="card class='category-<%=item.category.name.split.join("-") %> item" style="width: 50%;">
  <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
  <div class="card-body">
    <h5 class="card-title"><%= item.title %></h5>
    <p class="card-text"><%= item.description %></p>
  </div>
  <% if item.user == current_user %>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal-<%= item.id %>">
      Edit
    </button>
  <% end %>
</div>
