.btn{
    border-radius: 0;
    box-shadow: 0.5px 1px 2px hsla(0, 0%, 20%, 1);
    display: center;
    margin-bottom: 5px;
    margin-left: 3px;

}
.btn:hover{
    transform: translateY(-2px);
    box-shadow: 2px 2px 5px hsla(0, 0%, 20%, 1);

}


.card-img-top{
  height: 220px;
}

.card-body{
    text-align: center;
}

.card-btn{
  display:center;
  vertical-align: middle;
}

.card-user-avatar img {
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  position: absolute;
  top: 20px;
  left: 1.25rem;
  width: 45px;
  height: 45px;
}

.btn-quatrery{
  background-color: green
}

.card {
  overflow: hidden;
  // max-height: 400px;
  // max-width: 400px;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  // margin: 15px 5px 15px 5px
  width: 45%;
}

.btn-container {
    display: inline-block;
    padding: 16px 0px;
    margin: 0px 16px;
    overflow: hidden;
}
*, *:before, *:after {
    padding: 0px;
    margin: 0px;
    transition: 0.3s;
}
.standard-btn {
     color: rgba(172, 12, 12, 0.8) ;
    border: solid 1px rgba(172, 12, 12, 0.8) ;
    font-size: 1rem;
    position: relative;
    z-index: 1;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 1.2rem;
    text-transform: uppercase;
    background: transparent;
}
.standard-btn:before {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    z-index: -1;
    content: "";
    background: rgba(172, 12, 12, 0.8) ;
}

.standard-btn:hover {
      color: #fff;
      border: solid 1px rgba(172, 12, 12, 0.8) ;
}
.standard-btn:hover:before {
      width: 100%;
}
