.navbar-lewagon {
  justify-content: space-between;
  background: linear-gradient(180deg, rgba(190, 59, 59, 0.8) 0%, rgba(172, 12, 12, 0.8) 100%);
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.25);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
